force-app/main/default/flows/Payment_Schedule_Dates_Notifications.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Custom_Notification</name>
        <label>Send Custom Notification</label>
        <locationX>176</locationX>
        <locationY>468</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Custom_Notification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>ownerIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>NotificationTitleFormula</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>NotificationBodyFormula</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Owner_Id</name>
        <label>Assign Owner Id</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <assignmentItems>
            <assignToReference>ownerIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.CreatedById</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ownerIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Deal__r.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Custom_Notification</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>NotificationBodyFormula</name>
        <dataType>String</dataType>
        <expression>IF(
        {!$Record.X30_days_left__c},
        {!$Record.Deal__r.Name} + &quot; payment schedule is in 30 days&quot;,
        IF(
            {!$Record.X60_days_left__c},
            {!$Record.Deal__r.Name} + &quot; payment schedule is in 60 days&quot;,
            &quot;&quot;
        )
)</expression>
    </formulas>
    <formulas>
        <name>NotificationTitleFormula</name>
        <dataType>String</dataType>
        <expression>&quot;Payment Schedule Date is Close&quot;</expression>
    </formulas>
    <formulas>
        <name>SixtyDaysLeft</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 60</expression>
    </formulas>
    <formulas>
        <name>ThirtyDaysLeft</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 30</expression>
    </formulas>
    <interviewLabel>Payment Schedule Dates Notifications {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Payment Schedule Dates Notifications</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Custom_Notification</name>
        <label>Get Custom Notification</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Owner_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Payment_schedule_notification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Custom_Notification</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND 3</filterLogic>
        <filters>
            <field>X60_days_left__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>X30_days_left__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Payment_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Not Paid</stringValue>
            </value>
        </filters>
        <object>Payment_Schedule__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2025-03-05</startDate>
            <startTime>08:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ownerIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
